@charset "UTF-8";

/* Outros dispositivos */

@media screen and (min-width: 768px) {
    .header{
        padding: 20px 100px;
        background-color: #1717199f;
        backdrop-filter: blur(10px);
    }
    #burguer{
        display: none;
    }
    #itens{
        display: none;
    }
    #itens li{
        display: none;
    }
    .logo{
        font-size: 28px;
        font-weight: 700;
    }
    .navbar{
        display: block;
    }
    .navbar a{
        position: relative;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-left: 40px;
    }
    .navbar a::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background: #fff;
        transition: .3s;
    }
    .navbar a:hover::before{
        width: 100%;
    }
/* Inicio corpo */
}
@media screen and (min-width: 700px) {
    section#s-um-img{
        position: relative;
        /* width: 90%; */
        margin: 0px 0px 0px 20px;
        background:  url('../imagens/quarto-amplo-m.jpg') no-repeat;
        background-size: contain;
        background-position: center right;
        height: 400px;
    }
    h2{
        font-size: 1.8rem;
        width: 350px;
    }
}