@charset "UTF-8";

/* Outros dispositivos */

@media screen and (min-width: 768px) {
    .header{
        padding: 20px 100px;
        background-color: #1717199f;
        backdrop-filter: blur(10px);
    }
    a.dm{
        font-size: 16px;
    }
    #burguer{
        display: none;
    }
    #itens{
        display: none;
    }
    #itens li{
        display: none;
    }
    .logo{
        font-size: 28px;
        font-weight: 700;
    }
    .navbar{
        display: block;
    }
    .navbar a{
        position: relative;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        margin-left: 40px;
    }
    .navbar a::before{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 1px;
        background: #fff;
        transition: .3s;
    }
    .navbar a:hover::before{
        width: 100%;
    }
/* Inicio corpo */
}
@media screen and (min-width: 700px) {
    section#s-um-img{
        position: relative;
        /* width: 90%; */
        margin: 0px 0px 0px 20px;
        background:  url('../imagens/quarto-amplo-m.jpg') no-repeat;
        background-size: contain;
        background-position: center right;
        height: 400px;
    }
    h2{
        font-size: 1.8rem;
        width: 350px;
    }
    #step-num{
        width: 420px;
        margin: 100px 0px;
    }
    .div-num > p.num{
        font-size: 40px;
        font-weight: bolder;
        padding: 0;
        margin: 0;
    }
    .div-num > h3{
        margin: 0px;
        padding-top: 10px;
    }
    .div-num > p.det-num{
        font-size: 14px;
        padding: 10px 0px 0px 0px;
        margin: 0;
    }

    article#fst-art{
        margin: 100px 20px;
    }
    div#fst-art-img{
        float: left;
        height: 400px;
        width: 50%;
        margin-right: 5%;
    }
    div#div-art-one{
        max-width: 45%;
        float: right;
    }
    article#fst-art p.txt-gnl{
        font-size: 15px;
    }
    aside{
        margin-top: 400px;
    }
}