@charset "UTF-8";

/* Telas grandes */

@media screen and (min-width: 900px) {
    section#s-um-img{
        position: relative;
        /* width: 90%; */
        margin: 0px 0px 0px 20px;
        background:  url('../imagens/quarto-amplo-gp.jpg') no-repeat;
        background-size: contain;
        background-position: center right;
        height: 700px;
    }
    #step-num{
        width: 690px;
        margin: 100px 0px;
        gap: 40px;
    }
    .div-num > p.num{
        font-size: 45px;
        font-weight: bolder;
        padding: 0;
        margin: 0;
    }
    .div-num > h3{
        margin: 0px;
        padding-top: 5px;
    }
    .div-num > p.det-num{
        font-size: 14px;
        padding: 5px 0px 0px 0px;
        margin: 0;
    }

    #snd-art{
        margin-top: 450px;
    }
}