@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');

/* Versão Mobile First */
/* Inicio cabecalho */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}
body{
    background-color: #171719;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 40px;
    background-color: #171719f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .09s;
}
.logo{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .09s;
}
.navbar{
    display: none;
}
#burguer{
    display: block;
    cursor: pointer;
    color: #fff;
}
#itens{
    display: none;
}
#itens{
    position: absolute;
    right: 2rem;
    top: 50px;
    width: 200px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}
#itens li{
    font-weight: 200;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Fim cabecalho */
/* Inicio corpo */
main{
    margin: 100px auto 20px auto;
    width: 100vw;
    max-width: 1200px;
}
section#s-um-img{
    position: relative;
    /* width: 90%; */
    margin: 0px 0px 0px 20px;
    background:  url('../imagens/quarto-amplo-p.jpg') no-repeat;
    background-size: contain;
    background-position: center right;
    height: 250px;
}
div#sobre-img{
    position: relative;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
}
div#social{
    margin: auto 20px auto 0px;
}
i{
    color: #a76b37;
    padding-top: 15px;
}
i:hover{
    color: #fff;
}
h2{
    font-size: 1.5rem;
    width: 300px;
}
p#sm{
    margin: 0;
}
a.dm{
    color: #a76b37;
    text-decoration: underline;
}
a.dm:hover{
    color: #fff;
}

p{
    margin-top: 50px;
}